<%= form_with(model: user, class: "contents", url: { action: "add_quota" }, method: :post) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-rose-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= f.label :username, "名稱", class: "block text-sm font-medium leading-6 text-gray-500" %>
    <div class="mt-2">
      <%= f.text_field :username, class: "cursor-not-allowed block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6", disabled: true %>
    </div>
  </div>

  <div class="my-4">
    <%= f.label :quota, "目前元件", class: "block text-sm font-medium leading-6 text-gray-500" %>
    <div class="mt-2">
      <%= f.text_field :quota, class: "cursor-not-allowed block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6", disabled: true %>
    </div>
  </div>

  <div class="my-4">
    <%= f.label :add_quota, "加減元件", class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.text_field :add_quota, class: "cursor-not-allowed block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
    </div>
    <i>數字大於0增加，小於0減少 </i>
  </div>

  <div class="inline">
    <%= f.submit "確定", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>