<div class="min-h-full pt-2 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-2xl tracking-wider font-serif font-bold ">修改密碼</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md bg-white">
    <div class="py-8 px-4 shadow sm:px-10 border border-volcano-glass shadow-lg">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div>
          <%= f.label :current_password, "目前的密碼", class: "block text-lg leading-6 " %>
          <div class="mt-2">
            <%= f.text_field :current_password, autocomplete: "current-password", required: true, class: "block w-full border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div>
          <%= f.label :password, "輸入新密碼", class: "block text-lg leading-6 " %>
          <div class="mt-2">
            <%= f.text_field :password, autocomplete: "new-password", required: true, class: "block w-full border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
          </div>
          <em class="text-sm">最小密碼長度6個字元</em>
        </div>

        <div>
          <%= f.label :password_confirmation, "再次輸入新密碼", class: "block text-lg leading-6 " %>
          <div class="mt-2">
            <%= f.text_field :password_confirmation, autocomplete: "new-password", required: true, class: "block w-full border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="actions py-2">
          <%= f.submit "更新密碼", class: "flex w-full justify-center border border-transparent bg-indigo-600 py-2 px-4 text-lg font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        </div>
      <% end %>


    </div>
  </div>
</div>
